@font-face {
  font-family: 'Alagard';
  src: 
       url('./assets/alagard/alagard.ttf')  format('truetype') /* Safari, Android, iOS */
}

:root {
  --color-yellow: #fff200;
  --font-primary: 'Alagard';
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

label, p, h2, h1 {
  color: var(--color-yellow);
  font-family: var(--font-primary);
}
